#cxh{
    color:red;
    font-family: 方正超细黑
}
#xh{
    font-family: 方正细黑
}
#h{
    font-family: 方正兰亭黑;
}
#xh2{
    font-family: 方正细黑2;
}
#jt{
    font-family: 简体;
}
#xhjt{
    font-family: 方正兰亭细黑简体;
}